<div class="page-conatiner">
  <div class="container-fluid bg-light">
       <div class="container bg-light">
            <div class="row mt-4" style="height: 500px;">
                <div class="col"></div>
                <div class="col-md-6 bg-white shadow">
                  <div class="card bg-warning mt-4">
                     <h4 class="text-white ps-3 pt-2 pd-2 ">To Do List</h4>
                  </div>
                  <div class="shadow">
                    <div class="input-group p-4">
                      <input type="text" class="form-control" placeholder="Enter Task">
                      <button class="btn btn-outline-success" type="button">+</button>
                    </div>
                  </div>
                   <h4 class="text-primary mt-4">Tasks :</h4>
                   <div style="overflow-y: auto; height: 350px">
                       <div class="m-3">
                          <div class="p-2 shadow border">
                              <div class="input-group row ps-3">
                                   <div class="card col-md-10 border-0">Angular logic</div>
                                   <button class="btn btn-outline-primary col"><i class="fa-solid fa-pen"></i></button>
                                   <div class="btn btn-outline-danger col"><i class="fa-solid fa-trash-can"></i></div>
                              </div>
                          </div>
                       </div>
                   </div>
                </div>
                <div class="col"></div>
            </div>
       </div>
  </div>
</div>
