<!-- <div class="container-fluid g-0">

    <main>
      <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}" *ngIf="showHead"></app-side-nav>

      <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">

      </div>
    </main>
</div> -->
<app-header (sideNavToggled)="sideNavStatus = $event;" *ngIf="showHead"></app-header>
<app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}" *ngIf="showHead"></app-side-nav>

<div class="container-fluid p-0" [ngClass]="{'display-area-shrink': sideNavStatus}">
  <router-outlet></router-outlet>
</div>


