<div class="split-screen">
  <div class="left">
    <section class="copy">
      <h1>Easy To Mange Your expense</h1>
      <p>it's very hard to entry all your expense</p>
    </section>
  </div>
  <div class="right">
      <form action="">
        <section class="copy">
           <h2>Welcome Back</h2>
           <div class="login-container">
               <p>Please enter your details <a routerLink="/login"><strong>Log In</strong></a></p>
           </div>
        </section>
        <div class="input-container name">
            <label for="fname">Full Name</label>
            <input type="fname" name="fname" type="text" required>
        </div>
        <div class="input-container email">
          <label for="email">Email</label>
          <input type="email" name="email" type="email" required>
      </div>
      <div class="input-container password">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Must be at least 6 characters" type="password" required>
        <!-- <mat-icon>visibility_off</mat-icon> -->
    </div>
        <div class="input-container cta">
          <label class="checkbox-container">
            <input type="checkbox">
            <span class="checkmark"></span>
            Remember Me.
          </label>
        </div>
      <button class="signup-btn" type="submit" routerLink="/login">Sign Up</button>
      <section class="copy legal">
        <p><samp class="small">By continuing, you agree to accept our <br> <a href="#">Privacy Policy</a> &amp; <a href="#">Terms of Service</a>.</samp></p>
      </section>
      </form>
  </div>
</div>

